In [1]:
import numpy as np
# from sklearn import datasets
import pandas as pd
from sklearn import preprocessing as pp

In [2]:
data= np.loadtxt("training_boston_x_y_train.csv",delimiter = ",")
x = data[:,0:-1]
x_train = pp.scale(x)
df = pd.DataFrame(x_train)
y = data[:,-1]
df['ones']=1
x_train = df.to_numpy()
df = pd.DataFrame(x_train)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,-0.400981,-0.490427,-1.281492,-0.287849,-0.605917,1.207950,0.814838,-0.505604,-0.784522,-1.297963,-0.322642,0.420280,-1.100955,1.0
1,-0.400534,-0.490427,0.207535,-0.287849,-1.047205,-0.030261,-0.891071,0.328940,-0.557982,-0.102675,0.093911,0.302580,-0.531433,1.0
2,0.099008,-0.490427,0.964253,-0.287849,1.340946,-0.471970,0.659427,-0.561179,1.594148,1.459945,0.788166,-3.726145,0.860578,1.0
3,0.008138,-0.490427,0.964253,-0.287849,1.834151,-0.080131,0.775082,-0.693215,1.594148,1.459945,0.788166,-0.049549,0.194293,1.0
4,-0.405257,-0.490427,-0.990005,-0.287849,-0.943373,-0.416400,-0.887456,0.294021,-0.784522,-0.983107,0.001343,0.440491,0.010442,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374,-0.210638,-0.490427,1.176766,3.474042,0.406452,2.129840,1.031691,-0.811218,-0.557982,-0.073522,-1.757436,0.371535,-1.501831,1.0
375,0.198643,-0.490427,0.964253,-0.287849,1.340946,0.183470,0.659427,-0.683814,1.594148,1.459945,0.788166,-2.756549,0.474907,1.0
376,-0.401413,-0.490427,0.207535,-0.287849,-1.047205,-0.238291,-0.862157,0.138088,-0.557982,-0.102675,0.093911,0.342894,-0.347582,1.0
377,-0.403579,-0.490427,-1.169492,-0.287849,-0.848193,0.036708,-1.895822,0.658682,-0.671252,0.083906,-0.739195,0.215899,-0.752606,1.0
378,0.303242,-0.490427,0.964253,3.474042,0.631423,1.009893,1.006392,-1.199453,1.594148,1.459945,0.788166,0.397907,-1.358069,1.0

In [2]:
def step_grad(x,y,learning_rate,m): 
    slope_m =np.zeros(len(x[0]),int)
    N = len(x)
    M= len(x[0])
    for j in range(M):
        for i in range(N):
            slope_m[j]+=(y[i]-(m*x[i]).sum())*x[i][j]    
    m_slope = m - learning_rate*slope_m*(-2/N)
    return m_slope

In [35]:
def gd(x,y,learning_rate,num_operations):
    n=len(x[0])
    m =np.zeros(n,int)
    for i in range(num_operations):
        m = step_grad(x,y,learning_rate,m)
#         print(i,"cost : ", cost(x,y,m))
        
    return m

In [36]:
# def cost(x,y,m):
#     ans = ((y-x.dot(m))**2).mean()
#     return ans

In [37]:
def run():
    data= np.loadtxt("training_boston_x_y_train.csv",delimiter = ",")
    x = data[:,0:-1]
    x_train = pp.scale(x)
    df = pd.DataFrame(x_train)
    y = data[:,-1]
    df['ones']=1
    x_train = df.to_numpy()
    learning_rate =0.18
    num_operations =63
#     num_operations =20
    m = gd(x_train,y,learning_rate,num_operations)
    return m
# print(run())

In [38]:
# run()

In [39]:
data= np.loadtxt("training_boston_x_y_train.csv",delimiter = ",")
#     data = pp.scale(data)
x_1 = data[:,:-1]
y = data[:,-1]
x_new = pp.scale(x_1)
df = pd.DataFrame(x_new)
df["O"] = 1
x = df.to_numpy()
from sklearn.linear_model import LinearRegression
alg = LinearRegression()
alg.fit(x,y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [40]:
m = alg.coef_
c = alg.intercept_
print(m)
print(c)

[-1.00007026  0.74065794  0.01188043  0.81805153 -2.17094041  2.35394967
  0.12135345 -3.03040197  2.57076841 -1.73462464 -2.24921247  0.59685962
 -4.32352985  0.        ]
22.609498680738785

In [41]:
# print(alg.coef_[len(alg.coef_)-1])
# alg.coef_[len(alg.coef_)-1] = alg.intercept_
# # alg.coef_

In [42]:
dat= np.genfromtxt("test_original.csv", delimiter=",")
datt = pp.scale(dat)
d = pd.DataFrame(datt)
d["New"] = 1
x_test = d.to_numpy()
x_test.shape

(127, 14)

In [43]:
def pred(x,m):
    return x.dot(m)

y_pred = pred(x_test,run())
print(y_pred)

[12.66226524 29.21358192 22.56890229 23.34198547 20.34215347  1.21867892
 28.59428385 23.71872351 18.39578344 22.94008441 23.98691193 17.44735839
 17.67248921 21.69131831 45.99041957 23.14629655 24.08373907 27.4293544
 19.01170122 31.72254195 24.09194207 25.8276589  35.68027009 36.90765746
 30.82230911 16.36710446 22.62853874 32.39712869 25.81022465 34.9921097
 16.50555016 26.1391687  23.48217933 25.47752898 14.9726252  29.48210696
 25.35093978 20.33600623 23.59031387  9.06855109  7.72988914 27.70973084
 28.26896211 20.80428191 20.63004172  1.9076559  40.22272901 26.05452794
 28.03247181 16.92907683 18.17830248 38.75818428 17.81703314 20.71305379
 15.15261642 20.5508701  17.83456481 22.34781369 13.13281367 17.4022029
 16.57877882 29.91401891 24.73954915 25.42689101 17.20316712 17.48242797
 34.39339908 17.11403718 27.86073908 22.76918396 29.32931234 28.12838726
 18.75233389  4.96310205 35.00584041 24.57241918 28.69940893 26.12703421
 16.19588974 31.17612411 19.80100051 22.86930203 22.42520984  6.15453911
 17.67870852 29.41764533 26.11144631  4.59198727 21.30446546 20.40936843
 21.57694322 20.42426904 20.81407664 12.79299246 19.69175364 27.9654179
 38.66711427 18.85452201 32.01569817 25.63488656 27.77849973 21.74251485
 25.84298302 31.21839418 17.69330595 25.87915507 21.02631853 35.68277998
 21.0076195  17.53638202 26.41016179 -2.26168246 12.89410157 16.32734703
 35.76821902 21.39704068 20.8890332  24.90909956 21.33298321 19.96732601
 12.7116467  34.6349034  23.16120719 24.66916766 16.61848363 20.55692679
 15.72368736]

In [44]:
y_pred.shape

(127,)

In [47]:
np.savetxt("test_boston_x_test.csv",y_pred, delimiter =',', fmt='%1.10f')

In [48]:
# y_pred_in = x_test.dot(m) + c
# y_pred_in
# print(y_pred_in.shape)

In [49]:
# import matplotlib.pyplot as plt
# plt.scatter(y_pred,y_pred_in)